<div class="container mx-auto p-4 mt-10 flex flex-col md:flex-row">
  <!-- First Column -->
  <div class="w-full md:w-1/3 p-2">
    <div class="mb-4">
      <label for="profileDropdown" class="block text-sm font-medium text-gray-700">Select Profile</label>
      <select id="profileDropdown" class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md">
        <option value="">Loading...</option>
      </select>
    </div>
    <div class="mb-4">
      <label for="templateDropdown" class="block text-sm font-medium text-gray-700">Select Template</label>
      <select id="templateDropdown" class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md">
        <option value="">Loading...</option>
      </select>
    </div>
    <button id="generateResumeButton" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
      Generate Resume
    </button>
  </div>
  <!-- Second Column -->
  <div class="w-full md:w-2/3 p-2">
    <pdf-viewer [src]="selectedResumeUrl" [rotation]="0"
    [original-size]="false"
    [show-all]="true"
    [fit-to-page]="false"
    [zoom]="1.1"
    [zoom-scale]="'page-height'"
    [stick-to-page]="false"
    [render-text]="true"
    [external-link-target]="'blank'"
    [autoresize]="true"
    [show-borders]="true"
    style="width: 100%; height: 50vh;"></pdf-viewer>
    <div class="mt-10 flex justify-center space-x-2">
      <button id="saveButton" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">
        Save
      </button>
      <button id="downloadButton" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
        Download
      </button>
    </div>
  </div>
</div>