<div class="container mx-auto mt-10">
    <div class="bg-white shadow-md rounded-lg p-6">
        <h1 class="text-2xl font-bold mb-4 text-center text-gray-800">Gen your Res!</h1>
        <p class="text-gray-600 mb-6 text-center">Step by Step Guide:</p>
        
        <!-- Step 1 -->
        <div class="mb-8">
            <h2 class="text-xl font-semibold mb-2 text-gray-800">Step 1: Create Profile</h2>
            <p class="text-gray-600 mb-4">Start by creating your profile. Provide your basic information such as name, email, past experience and skills used</p>
            <button 
                class="bg-blue-500 text-white px-4 py-2 rounded-full hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50"
                (click)="navigateToCreateProfile()">
                Create Profile
            </button>
        </div>

        <!-- Step 2 -->
        <div class="mb-8">
            <h2 class="text-xl font-semibold mb-2 text-gray-800">Step 2: Select Template</h2>
            <p class="text-gray-600 mb-4">Choose a template that suits your needs. We offer two templates to select from as of now. More to come!</p>
            <!-- <button class="bg-blue-500 text-white px-4 py-2 rounded-full hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50">Select Template</button> -->
        </div>

        <!-- Step 3 -->
        <div class="mb-8">
            <h2 class="text-xl font-semibold mb-2 text-gray-800 animate-bounce">Step 3: RESGEN</h2>
            <p class="text-gray-600 mb-4">Once you have created your profile and selected a template, you can generate the resume, save and download!</p>
            <!-- <button class="bg-blue-500 text-white px-4 py-2 rounded-full hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50">Generate</button> -->
        </div>
    </div>
</div>