<body class="bg-gray-100 flex  justify-center h-screen items-center pt-0 mt-0">
    <div class="text-center p-6 bg-white rounded-lg shadow-lg max-w-md">
        <img class="mx-auto mb-4" src="https://play-lh.googleusercontent.com/6OfzHOao-o92uMhcVYN7OFyHE3VhUzcWVrR2hOTAjvPs7BFFs4AJip3srKeB0hVRA0Eg=w526-h296-rw" alt="Under Construction">
        <h1 class="text-3xl font-bold mb-2">Oops! I'm Still Building...</h1>
        <p class="text-gray-600 mb-4">I'm working hard to bring you something amazing. Please bear with I while we put the finishing touch.</p>
        <p class="text-gray-600 mb-6">In the meantime, enjoy this funny construction joke:</p>
        <p class="text-gray-800 font-semibold mb-4">Why does the dog sit in the shade?</p>
        <p class="text-gray-800 italic mb-6">Because he doesn’t want to be a hot dog!</p>
    </div>
</body>